@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-regular";
  src: url('../src/Assets/Fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: "serif-regular";
  src: url('../src/Assets/Fonts/DM-Serif-Display/DMSerifDisplay-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg{
  background-image: url('./Assets/Images/HomeBgImg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
